theme "one-half-dark"
layout name="Resumed" {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
    }

    tab name="Resumed" focus=true hide_floating_panes=true {
        pane split_direction="vertical" {
            pane name="editor" borderless=true {
                edit "./resume.json"
            }
        }
        pane split_direction="vertical" size=8 {
            pane command="nix" name="build/run" borderless=true {
                args "run" ".#live"
            } 
            pane name="music" size="30%" borderless=true {
                command "cava"
            }
        }
    }
}
